<%= form_for(@interface_list) do |f| %>
  <% if @interface_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interface_list.errors.count, "error") %> prohibited this interface_list from being saved:</h2>

      <ul>
      <% @interface_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref %><br>
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :interface_type %><br>
    <%= f.radio_button :interface_type, 'batch' %> Batch API <br>
    <%= f.radio_button :interface_type, 'standard' %> Standard API <br>
  </div>
  <div class="field">
    <%= f.label :definition %><br>
    <%= f.text_area :definition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
