<h1>Listing interface_lists</h1>

<table>
  <thead>
    <tr>
      <th>Ref</th>
      <th>Name</th>
      <th>Interface type</th>
      <th>Definition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interface_lists.each do |interface_list| %>
      <tr>
        <td><%= interface_list.ref %></td>
        <td><%= interface_list.name %></td>
        <td><%= interface_list.interface_type %></td>
        <td><%= interface_list.definition %></td>
        <td><%= link_to 'Show', interface_list %></td>
        <td><%= link_to 'Edit', edit_interface_list_path(interface_list) %></td>
        <td><%= link_to 'Destroy', interface_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interface list', new_interface_list_path %>
