<p id="notice"><%= notice %></p>

<p>
  <strong>Ref:</strong>
  <%= @interface_list.ref %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interface_list.name %>
</p>

<p>
  <strong>Interface type:</strong>
  <%= @interface_list.interface_type %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @interface_list.definition %>
</p>

<%= link_to 'Edit', edit_interface_list_path(@interface_list) %> |
<%= link_to 'Back', interface_lists_path %>
