<% 
    api_hash=session[:api_param_hash] 
%>
<h2>Interface selection</h2>
<div class="field">
<p>Client Name: <%= session[:client_name] %> </p>
Batch API Version:<br>
<select id="api_version" name="api_version" onchange="leaveChange()">
    <option value="5"
    <% if session[:version_param] == "5" %>
        selected
    <%end%>
    >API v5 - Code versions 5.3.61 and above</option>
    <option value="4"
    <% if session[:version_param] =="4" %>
        selected
    <%end%>
    >API v4 - Code versions 5.3.57 to 5.3.61</option>
    <option value="3"
    <% if session[:version_param] =="3" %>
        selected
    <%end%>
    >API v3 - Code versions 5.3.35 to 5.3.55</option>
</select>

</div>
<div id="apiSelect">
    <div>
        <div>
            <div id="option5" >
                <p class="cancel">Batch APIs V.5: <input type="button" id="checked" value="Select All" onClick="selectAll(5)"> <input type="button" id="unchecked" value="Deselect All" onClick="deselectAll(5)"></p><br style="clear:both;">
                <% @batch = Interface.where("api_version='5'").order('id') %>
                <p>
                    <% @batch.each do |b| %>
                        <input type="checkbox" id= "<%= b.id %>" name= "<%= b.id %>" onclick="changeBnt()" 
                        <% if session[:api_param_hash]["#{b.id}"]==1 %>
                          checked="true"
                        <% end %>
                        >
                        <%= b.api_name %><br>
                    <% end %>
                </p>
            </div>
            <div id="option4">
               <p class="cancel">Batch APIs V 4: <input type="button" id="checked" value="Select All" onClick="selectAll(4)"> <input type="button" id="unchecked" value="Deselect All" onClick="deselectAll(4)"></p><br style="clear:both;">
                <% @batch = Interface.where("api_version='4'").order('id') %>
                <p>
                    <% @batch.each do |b| %>
                        <input type="checkbox" id= "<%= b.id %>" name= "<%= b.id %>" onclick="changeBnt()" 
                        <% if session[:api_param_hash]["#{b.id}"] == 1 %>
                          checked="true"
                        <% end %>
                        >
                        <%= b.api_name %><br>
                    <% end %>
                </p>
            </div>
            <div id="option3">
                <p class="cancel">Batch APIs V.3: <input type="button" id="checked" value="Select All" onClick="selectAll(3)"> <input type="button" id="unchecked" value="Deselect All" onClick="deselectAll(3)"></p><br style="clear:both;">
                <% @batch = Interface.where("api_version='3'").order('id') %>
                <p>
                    <% @batch.each do |b| %>
                        <input type="checkbox" id= "<%= b.id %>" name= "<%= b.id %>" onclick="changeBnt()" 
                        <% if session[:api_param_hash]["#{b.id}"] == 1 %>
                          checked="true"
                        <% end %>
                        >
                        <%= b.api_name %><br>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
</div>


<div id="message"></div>
<script>
    //show selected form version from session
    <% session[:version_param] = 5 unless session[:version_param] %>
    selectShow(<%= session[:version_param] %>)



    //show selected form version from onchange select
    $("select").change(function () {
    var str = "";
    str = parseInt($("select option:selected").val());
    selectShow(str);
    <% session[:api_param_hash].each_key do |a| %>
        <% unless session[:standard_all].include? a.to_i %>
        document.getElementById(<%= a.to_i %>).checked=false;
        <% session[:api_param_hash].delete(a) %>
        <% end %>
    <% end %>
    });//end onchange

    //select which div will show
    function selectShow(str) {
        if(str >= 0){
            $("#apiSelect").show();
            for(var i = 5; i > 2; i--)
                 $("#option" + i).hide();
            $("#option" + str).show();
            }
        else
            $("#apiSelect").hide();
    }
</script>
<script>
function changeBnt(){
    bnt = document.getElementById("checked");
    bnt.value = "Select All";
    <% session[:batch_select]="Select All" %>
}

function selectAll(api){
    <% 
        @id5 = Interface.where("api_version='5'").order('id') 
        @id4 = Interface.where("api_version='4'").order('id') 
        @id3 = Interface.where("api_version='3'").order('id') 
    %>
    bnt = document.getElementById("checked");
    if (api == 5){
        <% @id5.each do |i| %>
            document.getElementById(<%= "#{i.id}"%>).checked = true;
        <% end %>
    }

    if (api == 4){
        <% @id4.each do |i| %>
            document.getElementById(<%= "#{i.id}"%>).checked = true;
        <% end %>
    }

    if (api == 3){
        <% @id3.each do |i| %>
            document.getElementById(<%= "#{i.id}"%>).checked = true;
        <% end %>
    }
}

function deselectAll(api){
    <% 
        @id5 = Interface.where("api_version='5'").order('id') 
        @id4 = Interface.where("api_version='4'").order('id') 
        @id3 = Interface.where("api_version='3'").order('id') 
    %>
    bnt = document.getElementById("checked");
    if (api == 5){
        <% @id5.each do |i| %>
            document.getElementById(<%= "#{i.id}"%>).checked = false;
        <% end %>
    }

    if (api == 4){
        <% @id4.each do |i| %>
            document.getElementById(<%= "#{i.id}"%>).checked = false;
        <% end %>
    }

    if (api == 3){
        <% @id3.each do |i| %>
            document.getElementById(<%= "#{i.id}"%>).checked = false;
        <% end %>
    }
}
</script>