<h2>Configurable items defining</h2>
* Click each interface to expand
<% 
  #prerequire for item definition
  api_hash=session[:api_param_hash].sort
	formcount = 0
  # Destroy the previous item_def form in order to create new one from hash
  @requirement.item_defs :_destroy
  @requirement.item_defs.build

  api_hash.each {|key, value| 
   if value == 1
   unless session[:item_param][key.to_i] 
   session[:item_param][key.to_i] = Hash.new 
  end
%>

<div id="toggle">
  <%= f.fields_for :item_defs do |builder| %>
  <div style="display:none">
    <% @interface = Interface.where("id='#{key}'").first %>
    <%= builder.text_field :interface_id, :value => @interface.id %>
	  <%= builder.text_field :request_type, :value => "Request new batch" %>
  </div>
  <ul>
    <hr>
      <% @batch = Interface.where("id='"+"#{key}"+"'").first %>
      <li><%= @batch.api_name %> </li>
      <div>
          <h4>Transpot type:</h4>
          <% if session[:item_param][key.to_i]["transport_type"] == 'SFTP' %>
            <%= builder.radio_button :transport_type, 'FTP' %> FTP </br>
            <%= builder.radio_button :transport_type, 'SFTP', :checked=> true%> SFTP 
          <% else %>
            <%= builder.radio_button :transport_type, 'FTP', :checked=> true %> FTP </br>
            <%= builder.radio_button :transport_type, 'SFTP'%> SFTP 
          <% end %>

          <h4>Notification Option:</h4>
          <% if session[:item_param][key.to_i]["notification"] == 'FTP' %>
            <%= builder.radio_button :notification, 'Email'%> Email </br>
            <%= builder.radio_button :notification, 'FTP' , :checked => true %> FTP 
          <% else %>
            <%= builder.radio_button :notification, 'Email', :checked => true %> Email </br>
            <%= builder.radio_button :notification, 'FTP' %> FTP 
          <% end %>

          <h4>Encryption / Decryption:</h4>
          <% if session[:item_param][key.to_i]["encryption"] == 'PGP/GPG' %>
            <%= builder.radio_button :encryption, 'None'%> None </br>
            <%= builder.radio_button :encryption, 'PGP/GPG' , :checked => true   %> PGP/GPG
          <% else %>
            <%= builder.radio_button :encryption, 'None', :checked => true   %> None </br>
            <%= builder.radio_button :encryption, 'PGP/GPG' %> PGP/GPG
          <% end %>

          <h4>Job Frequency</h4>
          <% freq = Frequency.where("api_ref='"+@batch.api_ref+"'").first %>
          <% if freq 
            current_freq = session[:item_param][key.to_i]["job_frequency"] %>
            <% if current_freq == freq.tier3 || !current_freq %>
              <%= builder.radio_button :job_frequency, freq.tier3, :checked => true, :onclick => "otherCheck(\'"+freq.tier3+"\',"+formcount.to_s+')' %>
            <% else %>
              <%= builder.radio_button :job_frequency, freq.tier3, :onclick => "otherCheck(\'"+freq.tier3+"\',"+formcount.to_s+')' %>
            <% end %>
            <%= freq.tier3 %><br>

            <% if current_freq == freq.tier2 %>
              <%= builder.radio_button :job_frequency, freq.tier2, :checked => true , :onclick => "otherCheck(\'"+freq.tier2+"\',"+formcount.to_s+')'%>
            <% else %>
              <%= builder.radio_button :job_frequency, freq.tier2 , :onclick => "otherCheck(\'"+freq.tier2+"\',"+formcount.to_s+')'%>
            <% end %>
            <%= freq.tier2 %><br>

            <% if current_freq == freq.tier1 %>
              <%= builder.radio_button :job_frequency, freq.tier1, :checked => true, :onclick => "otherCheck(\'"+freq.tier1+"\',"+formcount.to_s+')' %>
            <% else %>
              <%= builder.radio_button :job_frequency, freq.tier1, :onclick => "otherCheck(\'"+freq.tier1+"\',"+formcount.to_s+')' %>
            <% end %>
            <%= freq.tier1 %><br>

            <% if !current_freq %>
              <%= builder.radio_button :job_frequency, "other" %> Other: 
              <INPUT TYPE="text" ID="job_frequency_<%= formcount%>" NAME="job_frequency_<%= formcount%>" onClick="checkSelect(<%= formcount%>)" placeholder="<frequency>">
              <div style="visibility:hidden">
                <%= builder.text_field :job_frequency, :value => freq.tier3 %>
              </div>
            <% else %>
              <% if current_freq != freq.tier3 && current_freq != freq.tier2 && current_freq != freq.tier1 %>
                <%= builder.radio_button :job_frequency, "other" , :checked => true %> Other: 
                <INPUT TYPE="text" ID="job_frequency_<%= formcount%>" NAME="job_frequency_<%= formcount%>" value="<%= current_freq %>" onClick="checkSelect(<%= formcount - 1%>)" placeholder="<frequency>">
              <% else %>
                <%= builder.radio_button :job_frequency, "other" %> Other: 
                <INPUT TYPE="text" ID="job_frequency_<%= formcount%>" NAME="job_frequency_<%= formcount%>" onClick="checkSelect(<%= formcount%>)" placeholder="<frequency>">
              <% end %>
              <div style="visibility:hidden">
                <%= builder.text_field :job_frequency, :value => current_freq %>
              </div>
            <% end %>
              
          <%else%>
            <%= builder.radio_button :job_frequency, "other", :checked => true %> Other: 
            <INPUT TYPE="text" ID="job_frequency_<%= formcount%>" NAME="job_frequency_<%= formcount%>" value="<%= current_freq %>" onClick="checkSelect(<%= formcount - 1%>)" placeholder="<frequency>">
            <div style="visibility:hidden">
              <%= builder.text_field :job_frequency, :value => "<frequency>" %>
            </div>
          <% end %>

      </div>
      <div style="visibility:hidden">
        <%= builder.check_box :_destroy %><%= builder.label :_destroy, "Remove Question" %></br>
      </div>
  <% end %>
</div>
<% formcount += 1 %>
<% end %>
<% } %>
<br>
<% if formcount == 0 %>
<div id="confirm">*Please select interface before go to next step.</div><br>
<% end %>

  <div class="backbnt">
    <!--<button onclick="check()" name = "back_button"><< Back </button>-->
    <%= f.submit "<< Back", :onclick =>"check()", :name => "back_button" %>
  </div>
  <div class="conbnt">
    <% unless formcount ==0%>
    <%= f.submit "Continue", :onclick => "setOther()"%>
    <% end %>
  </div>


<script>
function check(){
	var count = <%= formcount %>;
	for (var i=0; i< count; i++){
		document.getElementById("requirement_item_defs_attributes_"+i+"__destroy").checked=true;
    if (document.getElementById("requirement_item_defs_attributes_"+i+"_job_frequency_other").checked == true){
      var_getbox = document.getElementById("job_frequency_"+i)
      val_savebox = document.getElementById("requirement_item_defs_attributes_"+i+"_job_frequency");
      val_savebox.value = var_getbox.value;
    }
	}
}

function checkCancel(){
  var count = <%= formcount %>;
  for (var i=0; i< count; i++){
    document.getElementById("requirement_item_defs_attributes_"+i+"__destroy").checked=true;
    if (document.getElementById("requirement_item_defs_attributes_"+i+"_job_frequency_other").checked == true){
      var_getbox = document.getElementById("job_frequency_"+i)
      val_savebox = document.getElementById("requirement_item_defs_attributes_"+i+"_job_frequency");
      val_savebox.value = var_getbox.value;
    }
  }
}

function checkSelect(current){
  document.getElementById("requirement_item_defs_attributes_"+current+"_job_frequency_other").checked=true;
  document.getElementById("job_frequency_"+current).value = "";
}
</script>
<script>
function otherCheck (val,current){
  textbox=document.getElementById("requirement_item_defs_attributes_"+current+"_job_frequency");
  textbox.value=val;
}

function setOther(){
  var count = <%= formcount %>;
  for (var i=0; i< count; i++){
    if (document.getElementById("requirement_item_defs_attributes_"+i+"_job_frequency_other").checked == true){
      var_getbox = document.getElementById("job_frequency_"+i);
      val_savebox = document.getElementById("requirement_item_defs_attributes_"+i+"_job_frequency");
      if (var_getbox.value == ""){
        val_savebox.value = "<frequency>";
      }else{
        val_savebox.value = var_getbox.value;
      }
    }
  }
}
</script>
<script>
    $(document).ready(function() {
        $("li").click(function(){
            $(this).toggleClass("active");
            $(this).next("div").stop('true','true').slideToggle("fast");
        });
    });
</script>
<script type="text/javascript">
function donation_value(the_form){
    var val = 0;
}

</script>