<h1>Listing Frequencies</h1>
<%= link_to 'New Frequency', new_frequency_path %>
<table>
  <thead>
    <tr>
      <th>Api ref</th>
      <th>Tier3</th>
      <th>Tier2</th>
      <th>Tier1</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @frequencies.each do |frequency| %>
      <tr>
        <td><%= frequency.api_ref %></td>
        <td><%= frequency.tier3 %></td>
        <td><%= frequency.tier2 %></td>
        <td><%= frequency.tier1 %></td>
        <td><%= link_to 'Show', frequency %></td>
        <td><%= link_to 'Edit', edit_frequency_path(frequency) %></td>
        <td><%= link_to 'Destroy', frequency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


