<h1>Listing Interfaces</h1>
<%= link_to 'New Interface', new_interface_path %>
<div class ="dataindex">
<table>
  <thead>
    <tr>
      <th><%= sortable "api_version" %></th>
      <th><%= sortable "api_ref" %></th>
      <th><%= sortable "api_name" %></th>
      <th><%= sortable "api_type" %></th>
      <th><%= sortable "ymlname" %></th>
      <th><%= sortable "url" %></th>
      <th><%= sortable "short_description" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interfaces.each do |interface| %>
      <tr>
        <td><%= interface.api_version %></td>
        <td><%= interface.api_ref %></td>
        <td><%= interface.api_name %></td>
        <td><%= interface.api_type %></td>
        <td><%= interface.ymlname %></td>
        <td><a href="<%= interface.url %>" target="_new">Link </a> </td>
        <td><%= interface.short_description %> </td>
        <td><%= link_to 'View', interface %></td>
        <td><%= link_to 'Edit', edit_interface_path(interface) %></td>
        <td><%= link_to 'Delete', interface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


